.text-blue {
  color: blue;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: inline-block;
  color: black;
  padding: 10px;
  font-weight: 800;
  // width: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}


input:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.45);
}

.list-container {
  margin-top: 10px;
  min-width: 600px;
  max-width: 600px;

  .todos-container {
    div {
      border-radius: 10px;
      padding: 10px;
      margin: 10px auto;
      border: 1px solid rgb(222, 226, 230);
      display: flex;
      justify-content: space-between;

      span {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          width: 100%;
        }
        small {
          cursor: pointer;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
 
}

.list-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  button {
    padding: 8px;
   width: 20%;
  }

  input {
    width: 80%
  }
}


.done { 
  text-decoration: line-through;
}